<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Temperaturstatus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-fab extended color="primary" (click)="getHc3State()">
      <mat-icon>favorite</mat-icon>
      Daten aktualisieren
    </button>
    <div>Temperatur Ofen:{{hc3State.temp_combustionChamber}}</div>
    <div>Temperatur Pufferspeicher:{{hc3State.bufferTemperature}}</div>
    <div>Temperatur Garage:{{hc3State.garageTemperature}}</div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Pumpenstatus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Pumpe Heizung Werkstatt:{{hc3State.garagePumpON}}</div>
    <div>Pumpe Ofen:{{hc3State.flowPumpON}}</div>
    <div>Pumpe Haus:{{hc3State.mainCircuitPumpON}}</div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Brennkammer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <a href="/data/" target="_dashboard"><img src="/assets/img/chronograf.png">
      HC3 Dashboard
    </a>
  </mat-card-content>
</mat-card>

