<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Temperaturstatus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div mat-dialog-actions align="center">
      <button mat-fab extended color="primary" (click)="getHc3State()">
        <mat-icon>cached</mat-icon>
        Daten aktualisieren
      </button>
    </div>
    <ngx-gauge
      type="arch"
      [size]="250"
      [max]='110'
      label="Puffer"
      [thresholds]="highTempTreshold"
      [value]="hc3State.bufferTemperature"
      [thick]="12"
      class="hc3"></ngx-gauge>
    <ngx-gauge
      type="arch"
      [size]="250"
      [max]='110'
      label="Ofen"
      [thresholds]="highTempTreshold"
      [value]="hc3State.temp_combustionChamber"
      [thick]="12"
      class="hc3"></ngx-gauge>
    <ngx-gauge
      type="arch"
      [size]="250"
      [max]='110'
      label="Garage"
      [thresholds]="lowTempTreshold"
      [value]="hc3State.garageTemperature"
      [thick]="12"
      class="hc3"></ngx-gauge>
    <ngx-gauge
      type="arch"
      [size]="250"
      [max]='110'
      label="Outdoor"
      [thresholds]="outdoorTempTreshold"
      [value]="hc3State.outdoorTemperature"
      [thick]="12"
      class="hc3"></ngx-gauge>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Pumpenstatus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Pumpe Heizung Werkstatt:{{hc3State.garagePumpON}}</div>
    <div>Pumpe Ofen:{{hc3State.flowPumpON}}</div>
    <div>Pumpe Haus:{{hc3State.mainCircuitPumpON}}</div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Brennkammer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <a href="/data/" target="_dashboard"><img src="/assets/img/chronograf.png">
      HC3 Dashboard
    </a>
  </mat-card-content>
</mat-card>


