<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Temperaturstatus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Temperator Ofen:</div>
    <div>Temperator Pufferspeicher:</div>
    <div>Temperator Garage:</div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Pumpenstatus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Pumpe Heizung Werkstatt:</div>
    <div>Pumpe Ofen:</div>
    <div>Pumpe Haus:</div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Heating Control</mat-card-title>
    <mat-card-subtitle>Brennkammer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <a href="http://hc3-werkstatt:8888/sources/0/dashboards/1?refresh=5s&lower=now%28%29%20-%201h&present=true"
       target="_dashboard"><img src="/assets/img/chronograf.png">
      HC3 Dashboard
    </a>
  </mat-card-content>
</mat-card>
